<nav class="navbar navbar-expand-sm navbar-dark bg-primary mb-3">
    <section class="container">
        <a class="navbar-brand" href="/">Todo List</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" dat-target="#mobile-nav">
            <span class="navbar-toggle-icon"></span>
        </button>
        <section class="collapse navbar-collapse" id="mobile-nav">
            <ul class="navbar-nav ml-auto">
                <li><a class="nav-link" href="/">Home</a></li>
                <li><a class="nav-link" href="/todos/new">New Todo</a></li>
            </ul>
        </section>
    </section>
</nav>